/********** Base styles **********/
* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
h1 {
  margin: 10px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 175%;
  color: red;
}
section {
  position: relative;
  padding: 15px;
  width: 100%;
}

.row {
  width: 90%;
}


div {
  position: relative;
  background-color: rgb(211, 193, 193);
  border: 1px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

/* Simple Responsive Framework. */

/********** Desktop Layout **********/
@media (min-width: 992px) {
  .col-lg-4,
  .col-lg-12 {
    float: left;
    /* border: 1px solid green; */
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

/********** Tablet Layout **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile Layout **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    border: 1px solid green;
  }
}

.one {
  float: right;
  width: 100px;
  padding: 5px;
  margin: 0px;
  border: 3px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: tomato;
}
.two {
  float: right;
  color: black;
  width: 100px;
  padding: 5px;
  margin: 0px;
  border: 3px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: red;
}
.three {
  color: black;
  float: right;
  width: 100px;
  padding: 5px;
  margin: 0px;
  border: 3px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: yellow;
}
.content {
  padding: 5px;
  border: none;
  background-color: rgb(211, 193, 193);
  font-family: Helvetica;
  color: black;
  margin: 0px;
  height: 200px;
  overflow: auto;
  clear: right;
}


